<app-navbar></app-navbar>
<div class="container-tables">
  <div class="titles">
    <h1>Productos</h1>
    <button type="button" class="btn btn-success" routerLink="/add">Crear</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">price</th>
        <th scope="col">stock</th>
        <th scope="col" class="text-center">Acciones</th> <!-- Añadida clase "text-center" -->
      </tr>
    </thead>
    <tbody>
      @for(product of products; track product.id) {
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td class="actions text-center"> <!-- Añadida clase "text-center" -->
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-warning">Actualizar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>