<app-navbar></app-navbar>
<div class="container-tables">
    <h1>Productos</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">price</th>
            <th scope="col">stock</th>
          </tr>
        </thead>
        <tbody>
          @for(product of products; track product.id) {
            <tr>
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.price}}</td>
              <td>{{product.stock}}</td>
            </tr>
          }
        </tbody>
    </table>
</div>
